@font-face {
    font-family: 'K2D-Semibold';
    src: url(../assets/fonts/K2D/K2D-SemiBold.ttf) format('truetype');
}

:root {
    --font-family: 'K2D-Semibold', sans-serif;
    --screen-height: 100vh;
    --screen-width: 100vw;
}

* {
    margin: 0;
    padding: 0;
}

.homeContainer {
    background: linear-gradient(to bottom right, #00174a, #2c0c3f, #3e0031, #470020, #48000e);
    height: var(--screen-height);
    width: var(--screen-width);
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.home {
    font-family: var(--font-family);
    color: #000000;
    font-size: 10vh;
}