@font-face {
    font-family: 'K2D-Semibold';
    src: url(../assets/fonts/K2D/K2D-SemiBold.ttf) format('truetype');
}

:root {
    --font-family: 'K2D-Semibold', sans-serif;
    --screen-height: 100vh;
    --screen-width: 100vw;
}

* {
    margin: 0;
    padding: 0;
}

.welcomeContainer {
    height: var(--screen-height);
    width: var(--screen-width);
    background: linear-gradient(to bottom right, #00236f, #4e1264, #6f004f, #820036, #88001a); 
    font-family: var(--font-family); 
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
  
.header {
    color: #ffffff;
    font-size: 10vmax;
    align-self: center;
}

.opacityBox {
    background-color: rgba(210, 183, 183, 0.4);
    width: 60vw;
    height: 50vh;
    align-self: center;
    border-radius: 5vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.uploadImage {
    height: 15vh;
    padding: 1vmin;
}

.uploadText {
    color: #ffffff;
    font-size: 3vmax;
    padding: 1vmin;
    margin: 5vmin;;
}

.uploadButton {
    background: linear-gradient(to right bottom, #356bd4, #305fb8, #2c539d, #284782, #253b68);
    width: 20vw;
    height: 7vh;
    border-radius: 3vh;
    font-family: var(--font-family);
    color: #ffffff;
    font-size: 3vmin;
    margin: 5vmin;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0.5vmin;
}

.overallButton {
    width: 60vw;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
    align-self: center;
    font-family: var(--font-family);
    margin: 14vmin;
    margin-bottom: 1vmax;
}